.blog-banner-container {
  height: 70vh;
  background-color: darkcyan;
  position: relative;
}

.blog-banner-container::after {
  content: "";
  display: block;
  background: url(../../assets/image/dot-tentang-kami-bg.png) no-repeat bottom left;
  width: 100%;
  height: 100%;
  background-size: contain;
  position: absolute;
  top: 0;
  left: 0;
}

.blog-banner-container > .text-container .title-text {
  font-size: 30px;
  font-family: 'Poppins-Bold';
  margin-bottom: 10px;
}

.blog-banner-container > .text-container .subtitle-text {
  font-size: 20px;
  font-family: 'Poppins-Light';
  width: 60%;
}

.blog-banner-container > .text-container {
  position: relative;
  height: 70vh;
  display: flex;
  align-items: center;
  color: #ffffff;
}

.blog-highlight-container {
  margin-top: 80px;
}

.blog-highlight-inner {
  position: relative;
}

.blog-highlight-container > .blog-highlight-inner > img {
  width: 100%;
  height: auto;
}

.desc-highlight-container {
  background: rgba(0,0,0,.74);
  padding: 20px 25px;
  color: #ffffff;
  position: absolute;
  bottom: 8px;
  left: 0;
  right: 0;
}

.desc-highlight-container > .title-container {
  font-size: 12px;
  background-color: darkcyan;
  display: inline;
  padding: 0px 7px 1px;
}

.desc-highlight-container > .desc-container > a {
  font-family: 'Poppins-SemiBold';
  font-size: 22px;
  text-decoration: none;
  color: #ffffff;
}

.desc-highlight-container > .date-container {
  font-family: 'Poppins-Light';
  font-size: 13px;
}

.read-more-blog-container {
  margin-top: 80px;
}

.read-more-blog-inner > .read-more-text {
  font-family: 'Poppins-Medium';
  font-size: 24px;
}


.read-more-blog-box-container {
  display: flex;
}

.read-more-blog-box-container > .read-more-blog-item {
  width: 25%;
  padding: 14px 14px 14px 0px;
}

.read-more-blog-item > .read-more-blog-head > img {
  width: 100%;
  margin-bottom: 16px;
} 

.read-more-blog-item > .read-more-blog-body {
  font-size: 16px;
  color: rgba(49,53,59);
  margin-bottom: 10px;
}

.read-more-blog-item > .read-more-blog-body > a {
  color: inherit;
  text-decoration: none;
}

.read-more-blog-item > .read-more-blog-body:hover {
  text-decoration: underline;
  cursor: pointer;
}

.read-more-blog-item > .read-more-blog-body::after {
  content: ">";
  font-size: 16px;
  margin-left: 0.5em;
}

.read-more-blog-item > .read-more-blog-date {
  font-size: 12px;
  color: rgba(49,53,59,0.44);
  margin-bottom: 10px;
}

.read-more-blog-item > .read-more-blog-footer {
  display: flex;
  align-items: center;
}

.read-more-blog-item > .read-more-blog-footer > img { 
  margin-left: 10px;
}

.pagination-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0px;
}

.pagination-container > ul {
  list-style: none;
  display: flex;
}

.pagination-container > ul > li {
  font-size: 13px;
  padding: 5px 11px;
}

.pagination-container > ul > li.active {
  border: 1px solid darkcyan;
}

.pagination-container > ul > .prev-section::before {
  content: "<";
  font-size: 13px;
  margin-right: 15px;
}

.pagination-container > ul > .next-section::after {
  content: ">";
  font-size: 13px;
  margin-left: 15px;
}

.pagination-container > ul > .number {
  margin: 0px 15px;
}

.pagination-container > ul > .number:hover,
.pagination-container > ul > .prev-section:hover,
.pagination-container > ul > .next-section:hover {
  text-decoration: underline;
  cursor: pointer;
  background: lightgray;
}

@media screen and (max-width: 767px) {
  .blog-highlight-container, .read-more-blog-container {
    margin-top: 60px;
  }

  .blog-banner-container > .text-container .title-text, .read-more-blog-inner > .read-more-text {
    font-size: 20px;
  }
  
  .blog-banner-container > .text-container .subtitle-text {
    font-size: 15px;
    width: unset
  }

  .desc-highlight-container {
    padding: 10px 15px;
  }

  .desc-highlight-container > .title-container {
    font-size: 12px;
    padding: 0px 5px 1px;
  }

  .desc-highlight-container > .desc-container {
    line-height: 15px;
  }

  .desc-highlight-container > .desc-container > a {
    font-size: 11.5px;
  }
  
  .desc-highlight-container > .date-container {
    font-size: 10px;
  }

  .read-more-blog-box-container { display: block; }
  .read-more-blog-box-container > .read-more-blog-item {
    width: unset;
    padding: 15px 0px;
    margin-bottom: 10px;
  }
  .read-more-blog-box-container > .read-more-blog-item:nth-child(3) {
    margin-bottom: unset;
  }
  .read-more-blog-box-container > .read-more-blog-item > .read-more-blog-head > img {
    width: 100%;
  }

  .pagination-container > ul > li {
    padding: 2px 10px;
  }

  .pagination-container > ul > .number {
    margin: 0px 0px;
  }

}
