.layanan-container {
  margin-top: 20px;
}

.layanan-inner > .title-text {
  font-family: 'Poppins-Bold';
  font-size: 30px;
  margin-bottom: 25px;
  text-align: center;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}

.layanan-box-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.layanan-box-container > .layanan-item {
  width: 350px;
  height: 350px;
  border: 1px solid #e5e5e5;
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  position: relative;
}

.layanan-box-container > .layanan-item > img { 
  width: 350px;
  height: 350px;
}

.layanan-box-container > .layanan-item > .desc-text {
  font-family: 'Poppins-Bold';
  font-size: 25px;
  color: #ffffff;
  position: absolute;
  bottom: 10px;
}

@media screen and (max-width: 767px) {

}