.linibisnis-container {
  margin-top: 80px;
}

.linibisnis-inner {
  display: flex;
  padding-top: 30px;
}

.left-linibisnis {
  width: 40%;
}

.right-linibisnis {
  width: 60%;
  position: relative;
}

.title-linibisnis {
  font-family: 'Poppins-Bold';
  font-size: 30px;
  margin-bottom: 25px;
}

.desc-linibisnis {
  font-family: 'Poppins-Light';
  font-size: 16px;
  margin-bottom: 25px;
  line-height: 30px;
}

.arrow-left-container {
  padding: 5px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: rgb(72 103 130) 2px 4px 22px -5px;
  cursor: pointer;
}

.arrow-left {
  border-left: 3px solid #000000;
  border-bottom: 3px solid #000000;
  width: 15px;
  height: 15px;
  color: transparent;
  transform: rotate(40deg);
  margin-left: 3px;
}

.swiper {
  height: 550px;
  position: unset !important;
}

.swiper-slide {
  height: 500px !important;
  border: 1px solid #e5e5e5;
  background: #e5e5e5;
}

.swiper-slide > .head-linibisnis {
  text-align: center;
  padding-top: 50px;
  margin-bottom: 5px;
}

.swiper-slide > .head-linibisnis > .title { 
  font-family: 'Poppins-Bold';
  margin: 10px 0px;
}

.swiper-slide > .body-linibisnis{
  font-family: 'Poppins-Light';
  font-size: 13.5px;
  padding: 0px 30px;
  line-height: 30px;
}

.swiper-button-prev {
  left: -25px !important;
}

.swiper-button-next {
  right: -25px !important;
}

.swiper-button-prev, .swiper-button-next {
  border-radius: 50%;
  width: 50px !important;
  height: 50px !important;
  box-shadow: rgb(72 103 130) 2px 4px 10px -5px;
  background: gray;
}

.swiper-button-prev::after, .swiper-button-next::after {
  font-size: 25px !important;
  color: #000000;
  font-weight: bold;
}

.swiper-pagination {
  display: none;
}

@media screen and (max-width: 767px), screen and (max-width: 991px) {
 
  .left-linibisnis, .right-linibisnis {
    width: unset;
  }

  .linibisnis-inner {
    flex-direction: column;
  }

  .swiper-button-prev, .swiper-button-next {
    display: none !important;
  }

  .swiper-pagination {
    display: block;
  }

}
